# Dependencies
node_modules/

# Build outputs
dist/
build/

# Caches
.cache/
.turbo/
.parcel-cache/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Env files
.env
.env.*
!.env.example

# IDE/editor
.idea/
.vscode/

# OS
.DS_Store

# Testing/coverage
coverage/

# Vercel
.vercel/

.vercel
